@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");

$clr-grey-4: hsl(209, 23%, 60%);
$clr-grey-5: hsl(210, 22%, 49%);
$clr-grey-6: hsl(209, 28%, 39%);
$clr-grey-9: hsl(209, 61%, 16%);
$clr-white: #fff;
$clr-black: #222;
$transition: all 0.2s linear;
$spacing: 0.1rem;
$radius: 0.25rem;
$light-shadow: 0 0px 5px rgba(0, 0, 0, 0.2);
$dark-shadow: 0 0px 6px rgba(0, 0, 0, 0.4);
$max-width: 1200px;
$radius: 3px;
$clr-primary-1: #b2a4ff;
/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: var($clr-white);
    color: var($clr-grey-9);
    line-height: 1.5;
    font-size: 0.875rem;
    font-family: "Lato", sans-serif;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4 {
    letter-spacing: var($spacing);
    line-height: 1.25;
}
h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.25rem;
}
h4 {
    font-size: 0.875rem;
}
p {
    color: var($clr-grey-6);
    font-weight: 500;
}

@media screen and (min-width: 800px) {
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.75rem;
    }
    h4 {
        font-size: 1rem;
    }
    body {
        font-size: 1rem;
    }
    h1,
    h2,
    h3,
    h4 {
        line-height: 1;
    }
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    .blog-container {
        width: $max-width;
        display: grid;
        justify-content: center;
        align-items: center;
        grid-template-columns: 24rem 24rem;
        gap: 1.5rem;
        @media screen and (max-width: 768px) {
            grid-template-columns: 19rem 19rem;
        }
        @media screen and (max-width: 626px) {
            grid-template-columns: 1fr;
        }
        .blog {
            border-radius: $radius;
            box-shadow: $light-shadow;
            transition: $transition;
            &:hover > header > .overlay {
                display: flex;
                align-items: center;
                justify-content: center;
            }
            &:hover {
                box-shadow: $dark-shadow;
            }
            header {
                position: relative;
                height: 12rem;
                .blog-img {
                    width: 100%;
                    height: 100%;
                    border-top-right-radius: $radius;
                    border-top-left-radius: $radius;
                    object-fit: cover;
                    object-position: bottom;
                }
                .overlay {
                    display: none;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-top-right-radius: $radius;
                    border-top-left-radius: $radius;
                    background-color: rgba(0, 0, 0, 0.8);
                    text-transform: capitalize;
                    font-weight: 500;
                    color: $clr-white;
                    font-size: 0.8rem;
                }
            }
            .info-container {
                padding: 1.2rem;

                .info {
                    position: relative;
                    &::after,
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0rem;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: #00bcd3;
                    }
                    &::after {
                        left: 0.85rem;
                        background-color: #fec106;
                    }
                    justify-content: space-between;
                    .title {
                        font-weight: 800;
                        padding: 1.2rem 0 0 0;
                    }
                    .content {
                        font-size: 0.62rem;
                        color: $clr-grey-4;
                        padding: 1.2rem 0 0 0;
                    }
                    .footer {
                        display: flex;
                        justify-content: space-between;
                        font-size: 0.63rem;
                        font-weight: 600;
                        color: $clr-grey-4;
                        padding: 1.2rem 0 0 0;
                    }
                }
            }
        }
    }
    .modal-bg {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba(0, 0, 0, 0.7);
        .modal-wrapper {
            background-color: $clr-white;
            border-radius: $radius;
            width: 26rem;
            .close-btn-container {
                padding: 0rem 0.7rem;
                display: flex;
                justify-content: flex-end;
                .close-btn {
                    transform: rotate(45deg);
                    font-size: 1.8rem;
                    color: $clr-grey-4;
                    cursor: pointer;
                }
            }
            img {
                width: 100%;
                height: 100%;
            }
            .modal-body {
                padding: 1rem;

                .title {
                    font-weight: 800;
                    padding: 0 0 1.2rem 0;
                }
                .content {
                    font-size: 0.67rem;
                    padding: 0 0 1.2rem 0;
                    color: $clr-grey-4;
                }
                .author-info {
                    display: flex;
                    align-items: center;
                    gap: 0.8rem;
                    .avatar {
                        width: 3rem;
                        height: 3rem;
                        border-radius: 50%;
                    }
                    p {
                        font-size: 0.7rem;
                        color: $clr-grey-6;
                        font-weight: 500;
                    }
                }
            }
        }
        @media screen and (max-width: 586px) {
            .modal-wrapper {
                width: 22rem;
            }
        }
    }
}

.loader,
.loader:before,
.loader:after {
    background: transparent;
    -webkit-animation: load1 1s infinite ease-in-out;
    animation: load1 1s infinite ease-in-out;
    width: 0.65em;
    height: 4em;
}
.loader {
    color: #fec106;
    text-indent: -9999em;
    margin: 88px auto;
    margin-top: 10rem;
    position: relative;
    font-size: 3rem;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.loader:before,
.loader:after {
    position: absolute;
    top: 0;
    content: "";
}
.loader:before {
    left: -1em;
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
}
.loader:after {
    left: 1em;
}
@-webkit-keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}
@keyframes load1 {
    0%,
    80%,
    100% {
        box-shadow: 0 0;
        height: 4em;
    }
    40% {
        box-shadow: 0 -2em;
        height: 5em;
    }
}
